#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#centeredbutton {
  text-align: center;
}

#searchContainer {
  --background-color: gray;
}

#tabsbutton {
  margin: 0px;
  background-color: red;
  width: 100%;
}

ion-tabs {
  font-size: 50px;
}

.appheader {
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 50%;
  float: left;
  cursor: pointer;
}

/* Add a background color on hover */
// .appheader:hover {
//   background-color: #011a42;
//   color: white;
// }

#currentButton {
  background-color: #011a42 ;
  color: white;
}