<ion-content [fullscreen]="true">

  <div id = "trial2">
    <h1> Groups </h1>
  </div>


<!-- Search Container -->
<div id="searchContainer"> 

  <ion-toolbar>
    <ion-buttons start>
      <ion-searchbar class="custom" placeholder="Search Groups"></ion-searchbar>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button id="currentButton">
        <ion-icon slot="icon-only" name="list-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="grid-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


</ion-toolbar>
</div>

<!-- Suggested Container -->
<div id="suggestedContainer">

  <ion-toolbar>
    <ion-buttons start>Suggested Groups</ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="start" name="add"></ion-icon>
        All Groups
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>


</ion-toolbar>
</div>

<!-- List of Groups -->
<div id="groupsContainer">
    <ion-list>
      
      <!-- CLUB ONE -->
      <ion-item *ngFor="let group of eventList">
        <ion-thumbnail slot="start">
          <img src= "{{ group.img }}" />
        </ion-thumbnail>
        <ion-label>
          <h3>{{group['title']}}</h3>
          <p>{{group['description']}}</p>
          <p>
            <ion-icon slot="icon-only" name="person"></ion-icon>
            <!-- {{ group['participants']}} -->
          </p>

        </ion-label>
      </ion-item>
       
    </ion-list>
</div>
<!-- End of List of Groups -->

</ion-content>

<!-- FOOTER  -->
<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLink="/home" tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/resources" tab="journal">
      <ion-icon name="journal-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/groups" tab="people">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/chats" tab="chat">
      <ion-icon name="chatbox-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs> -->
  
 